#!/bin/bash

# redirect stdout/sterr to a log file
exec &> {{ config_plex_shared }}/plex_backup.log

echo "Starting Plex config backup - `date`"
echo "Validating that local Plex config exists"

if [ -f "{{ config_plex_local }}/config/Library/Application Support/Plex Media Server/Preferences.xml" ]; then
  # the config exists
  echo "The local Plex config EXISTS"

  # Backup Plex local config directory to shared EFS
  rsync -av --delete --exclude '*.pid'  {{ config_plex_local }}/config/ {{ config_plex_shared }}/config/
else
  # the config does not exists
  echo "The local Plex config does NOT exist"
fi
