[Unit]
Description=Plexdrive
AssertPathIsDirectory={{ plex_data }}
After=network-online.target mnt-plexdrive.mount
Before=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/plexdrive -c {{ config_plexdrive }} -o allow_other -v 2 --uid={{ plex_id }} --gid={{ plex_id }} --max-chunks=75 --chunk-size=10M mount {{ plex_data }}
ExecStop=/bin/fusermount -uz {{ plex_data }}
Restart=on-abort

[Install]
WantedBy=default.target
