[Unit]
Description=Plexdrive
AssertPathIsDirectory={{ plex_data }}
After=network-online.target mnt-plexdrive.mount
Before=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/plexdrive -c {{ config_plexdrive }} -o allow_other -v 2 --uid=1201 --gid=1201 --max-chunks=200 --chunk-size=10M --chunk-load-ahead=6 --chunk-check-threads=4 --chunk-load-threads=4 mount {{ plex_data }}
ExecStop=/bin/fusermount -uz {{ plex_data }}
Restart=on-abort

[Install]
WantedBy=default.target
